<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Chat app</title>
    <style>
        body {
            background-color: rgba(32, 33, 35, .5);
            color: aliceblue;
        }
    </style>
</head>

<body>
    <h1>User: <span class="badge bg-secondary">
            <%=data.name%>
        </span></h1>
    <span id="users" class="form-control"></span>
    <h1>welcome to the chat app</h1>
    <div id="box">
        <form method="post" id="form">
            <div class="input-group mb-3">
                <select name="group" id="group" class="form-control">
                    <% for (let i=0; i<data.rooms.length;i++){ %>
                        <option>
                            <%= data.rooms[i] %>
                        </option>
                        <% } %>
                            <option></option>
                </select>
                <input type="text" class="form-control" id="message" placeholder="Type your message ..
            " aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">send</button>
                </div>
                <input type="text" class="form-control" id="room" placeholder="join room"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="roombutton">join</button>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script>

        let rooms = `<%=rooms%>`
        let name = `<%=name%>`

        const socket = io({ auth: { user: rooms, name: name } })
        let messageinput = document.getElementById('message');
        let form = document.getElementById('form')
        let roominput = document.getElementById('room')
        let roombutton = document.getElementById('roombutton')
        let groupselect = document.getElementById('group')
        let usersspan = document.getElementById('users')
        let select = document.getElementById('group')

        socket.on('groups', (data) => {
            console.log(data);
        })

        socket.on('connect', () => {
            console.log(`you connected with ${socket.id}`);
            displayMessage(`you connected with ${socket.id}`)
        })
        // socket.on('disconnect',()=>{
        //     for (let option1=0;option1<select.options.length;option1++) {
        //             console.log("hello", option1)
        //             if (select.options[option1].text.split1(':')[1] == socket.id){
        //                 select.remove(option1)
        //             }
        //         }
        // })
        socket.on('refreshproblem', (data) => {

        })
        socket.on('allsockets', (data) => {
            let it = 0;
            for (const iterator of data) {
                usersspan.textContent += (`${iterator.name}:${iterator.socketid}`)
                console.log(iterator.name, iterator.socketid)
                var option = document.createElement("option");
                // option.value = `${iterator.name}:${iterator.socketid}`;
                option.id = iterator.name
                option.text = `${iterator.name}:${iterator.socketid}`;
                for (let option1 = 0; option1 < select.options.length; option1++) {
                    if (select.options[option1].text.split(':')[0] == iterator.name) {
                        select.remove(option1)
                        select.add(option, select[option1])
                        console.log("1");
                        it++;
                    }
                }
                if (it === 0) {
                    console.log("2");
                    select.appendChild(option);
                }
                // socket.emit('joinroom',iterator.socketid,iterator.name)

            }

        })
        socket.on('receive-message', (msg, grpname, name) => {
            console.log(msg);
            displayMessage(`Received from ${grpname} by ${name} :${msg}`)
            msg = ""
        })

        form.addEventListener("submit", e => {
            e.preventDefault()
            let message = messageinput.value
            let room = roominput.value
            let group = groupselect.value
            console.log(message);
            socket.emit('custom-message', { room: group, msg: message, name: `<%=name%>` })
            displayMessage(`You: ${message}`)
            messageinput.value = ""
        })

        roombutton.addEventListener("click", e => {
            e.preventDefault()
            let room = roominput.value
            socket.emit("joinroom", room, `<%=name%>`)
            roominput.value = ""
        })

        function displayMessage(msg) {
            const div = document.createElement('div')
            div.textContent = msg
            console.log(msg);
            document.getElementById('box').append(div)
        }
    </script>
</body>

</html>