<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat app</title>
</head>
<body>

    <h1>welcome to the login page</h1>
    <div id="box">
    <form id="form" method="post" action="/" >
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="message" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <input type="text" class="form-control" id="room" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">

                <button class="btn btn-outline-secondary" type="submit">send</button>
            </div>
          </div>
    </form>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    
</body>
</html>